node_modules
vendor
.git
.gitignore
.env
.env.*
storage/*.key
storage/*.sqlite
storage/app/*
storage/framework/*
storage/logs/*
bootstrap/cache/*
npm-debug.log*
yarn-error.log*
.DS_Store
README.md
docs
FrontendWeb
